img {
    width: 50px;
    height: 50px;
}

.collectionDrop {
    border: none;
    border-radius: 5px;
    background-color: rgb(217, 217, 217);
}

input{
  width: 70%;  
  background-color: rgb(217, 217, 217);
  border: none;
  border-radius: 5px;
}

.cl {
    display: flex;
    flex-wrap: nowrap;
}

.ConfBack{
    display: flex;
    align-items: center;
}

button {
    flex: 1;
    margin: 0 5px;
}

.ConfBack{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

button {
    align-self: flex-start;
}

/*button #Back{
    padding-right: 50%;
}*/