@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto",serif;
  }

.container {
    background-color: #ffffff; /* Change this color to your desired background color */
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}

.form-group {
    margin-bottom: 40px;
    background-color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    background-color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #851515;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

#user{
    text-align: left;
    margin-top: 30px;
}

#pass{
    text-align: left;
}

h2{
    background-color: #ffffff;
}

#enter{
    width: 150px;
    height: 70px;
    border-radius: 20px;
    font-size: 16px;
}