@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto",serif;
  } 

body{
    background-image: url('ฺBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #ffffff;
    max-width: 300px;
    max-height: 500px;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center the content horizontally */
}

.form-group {
    margin-bottom: 40px;
    background-color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    background-color: #ffffff;
}

input {
    padding: 3%;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: auto;
}

#enter {
    width: 150px;
    height: 70px;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px;
    background-color: #851515;
    color: #fff;
    border: none;
    cursor: pointer;
}

#enter:hover {
    background-color: #000000;
}

#user {
    text-align: left;
    margin-top: 30px;
}

#pass {
    text-align: left;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

h2 {
    background-color: #ffffff;
    font-size: 60px;
    margin-top: 50px;
}

#forgot {
    text-align: right; 
    display: flex; 
    justify-content: flex-end;
    margin-top: 0%; 
    padding-top: 0%; 
}